:root {
  --darkcolor: #2B2A4C;
  --middlecolor: #EA906C;
  --lightcolor: #EEE2DE;
  --specificthingscolor: #B31312; 
}

* {
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

.body-container {
  background-color: var(--darkcolor);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 60px;
  overflow: hidden;
}

.content-restaurant-container {
  background-color: var(--lightcolor);
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-left-radius: 65px;
  border-bottom-right-radius: 65px;

    --mask: 
      radial-gradient(6px at 0    75%,#0000 98%,#000) 6px 50%/51% 24px repeat-y,
      radial-gradient(6px at 50%  25%,#000 99%,#0000 101%) left/12px 24px repeat-y,
      radial-gradient(6px at 100% 25%,#0000 98%,#000) calc(100% - 6px) 50%/51% 24px repeat-y,
      radial-gradient(6px at 50%  75%,#000 99%,#0000 101%) 100% 50%/12px 24px repeat-y;
    -webkit-mask: var(--mask);
            mask: var(--mask);
  
}

.body-container .content-restaurant-container .fixed-blue-container{
  height: 60px;
  width: 100%;
  background-color: var(--darkcolor);
  z-index: 1000;
  position: fixed;
  left:0;
}

/* NAVBAR */

.body-container .content-restaurant-container .navbar {
  background-color: var(--lightcolor);
  border-bottom: 4px solid var(--darkcolor);
  position: fixed !important;
  width: 90%;
  top:60px !important;
  padding: 0px !important;
  z-index: 1000;
}

.body-container .content-restaurant-container .navbar .container-fluid {
  padding: 0px 70px;
}

.body-container .content-restaurant-container .navbar .navbar-collapse.activescroll {
  font-size: 15px;
  transition: all 300ms ease-in;
}

.body-container .content-restaurant-container .navbar #logoPastas.activescroll-logo {
  height: 50px;
  width: 50px;
  transition: all 300ms ease-in;
}

.body-container .content-restaurant-container .navbar .navbar-collapse .reservation-button.activescroll-btn {
  padding: 4px;
  border-width: 10px;
  transition: all 100ms ease-in;
}

.body-container .content-restaurant-container .navbar .navbar-toggler {
  position:absolute;
  top: 30px;
  right: 40px;
  border: 0px;
  color: var(--middlecolor) !important;
  font-weight: 900;
}

.body-container .content-restaurant-container .navbar .navbar-toggler.activescroll-hamburger {
  top: 7px;
  transition: all 300ms ease-in;
}

.body-container .content-restaurant-container .navbar .navbar-collapse {
  flex-direction: row;
  justify-content: end;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
}

.body-container .content-restaurant-container .navbar #logoPastas {
  height: 100px;
  width: 100px;
}

.body-container .content-restaurant-container .navbar .navbar-collapse .nav-item{
  margin: 0px 20px;
}

.body-container .content-restaurant-container .navbar .navbar-collapse .reservation-button {
 margin-left: 10px;
 padding: 10px;
 display: flex;
 justify-content:center;
 align-items: center;
 border-width: 20px;
 border-style: solid;
 border-image: url(./images/element/45degreecorner.png) 190 stretch;
 cursor: pointer;
}

.body-container .content-restaurant-container .navbar .navbar-collapse .reservation-button p {
  margin: 0px;
}

/* MODAL */

.body-container .content-restaurant-container .modal.hidden-modal {
  display: none;
}

.body-container .content-restaurant-container .modal.display-modal {
  display: block;
}

.body-container .content-restaurant-container .modal {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(43, 42, 76, 0.96);
  justify-content: center;
  align-items: center;
}

.body-container .content-restaurant-container .modal .modal-dialog {
  margin: 0px;
  padding: 0px;
  min-width: 100vw;
  height: 100%;
}

.body-container .content-restaurant-container .modal .modal-dialog .modal-content{
  background-color: rgba(43, 42, 76, 0);
  border: 0px;
  text-align: center;
  color: var(--lightcolor);
  margin-bottom: 50px;
  height: 100%;
}

.body-container .content-restaurant-container .modal .modal-dialog .modal-content h1{
  font-size: 40px;
  color: var(--middlecolor);
  font-weight: 900;
  margin-top: 70px;
}

.body-container .content-restaurant-container .modal .modal-dialog .modal-button{
  border: 0px;
}

.body-container .content-restaurant-container .modal .modal-dialog .modal-button .close-modal {
  position: absolute;
  top: 0px;
  right: 60px;
  font-size: 40px;
  padding: 20px;
  font-weight: 900;
  color: var(--middlecolor);
  background-color:rgba(43, 42, 76, 0);
  border: 0px;
}

body.modal-open {
  overflow: hidden !important;
}

.body-container .content-restaurant-container .modal .modal-dialog .modal-content .modal-form-container .form-container .form-row-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #2B2A4C;
  padding: 30px 0px;
}

.body-container .content-restaurant-container .modal .modal-dialog .modal-content .modal-form-container .form-container .form-row-container .num-people-container,
.body-container .content-restaurant-container .modal .modal-dialog .modal-content .modal-form-container .form-container .form-row-container .when-date-container,
.body-container .content-restaurant-container .modal .modal-dialog .modal-content .modal-form-container .form-container .form-row-container .when-hour-container,
.body-container .content-restaurant-container .modal .modal-dialog .modal-content .modal-form-container .form-container .form-row-container .info-email-container{
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  width: 40%;
  color: var(--lightcolor);
  font-size: 18px;
}

.body-container .content-restaurant-container .modal .modal-dialog .modal-content .modal-form-container .form-container .form-row-container label {
  text-align: left;
}

.body-container .content-restaurant-container .modal .modal-dialog .modal-content .modal-form-container .form-container .form-row-container input {
  padding: 10px;
  margin:0px;
}

.body-container .content-restaurant-container .modal .modal-dialog .modal-content .button-modal-container button {
  padding: 10px;
  background-color: var(--middlecolor);
  font-weight: 700;
  border: 2px solid var(--middlecolor);
  border-radius: 5px;
  color: var(--darkcolor);
}

/* INDEX */

.content-restaurant-container .identity-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 0px;
  margin-top: 200px;
}

.content-restaurant-container .identity-container .slogan-container .item-slogan p {
  font-size: 30px;
  font-weight: 900;
  color: var(--darkcolor);
  letter-spacing: 2px;
}

.content-restaurant-container .identity-container .slogan-container {
  display: flex;
  margin-top: 50px;
}

.content-restaurant-container .identity-container .slogan-container .item-slogan, 
.content-restaurant-container .identity-container .slogan-container .dot-slogan-container {
  margin: 0px 15px;
}

.content-restaurant-container .identity-container .slogan-container .dot-slogan-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.content-restaurant-container .identity-container .slogan-container .dot-slogan-container .dot-slogan {
  position: absolute;
  top:18px;
  width:10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--specificthingscolor);
  margin:0px;
}

.content-restaurant-container .menu-index-container {
  margin: 100px 0px;
  min-width: 100%;
  padding: 0px 50px;
}

.content-restaurant-container .menu-index-container .row {
  display: flex;
  justify-content: center;
  margin: 0px 0px 0px 0px;
}

.content-restaurant-container .menu-index-container .image-menu-container{
  background-image: url(./images/restaurant&food/menu-pasta.jpeg);
  background-size: cover;
  background-position: center;
  margin: 40px 0px;
}

.content-restaurant-container .menu-index-container .intro-menu-container .intro-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}

.content-restaurant-container .menu-index-container .intro-menu-container {
  padding: 40px 80px;
  margin: 0px;
  border-width: 50px;
  border-style: solid;
  border-image: url(./images/element/45degreecorner.png) 190 stretch;
}

.content-restaurant-container .menu-index-container .intro-menu-container .intro-part {
  margin-bottom: 20px;
}

.content-restaurant-container .menu-index-container .intro-menu-container .intro-button-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.content-restaurant-container .menu-index-container .intro-menu-container .intro-button-container .intro-button {
  padding: 10px;
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: var(--lightcolor);
  font-weight: 700;
  border: 2px solid var(--darkcolor);
  border-radius: 5px;
}

.content-restaurant-container .menu-index-container .intro-menu-container .intro-button-container a {
  text-decoration: none;
}

.content-restaurant-container .menu-index-container .intro-menu-container .intro-button-container .intro-button:hover {
  background-color: var(--darkcolor);
  color: var(--middlecolor);
}

.content-restaurant-container .mix-photo-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
  position: relative;
}

.content-restaurant-container .mix-photo-container .mix-photo {
  transition: transform 0.5s ease-in-out;
  height: 500px;
  width: 80%;
  overflow: hidden;
  display: flex;
}

.content-restaurant-container .mix-photo-container .mix-photo img{
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  display: none;
}

.content-restaurant-container .mix-photo-container .mix-photo img.active {
  display: block;
} 

.content-restaurant-container .mix-photo-container  .arrow {
  position: absolute;
  top: 50%;
  width: auto;
  transition: 0.6s ease;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  margin-top: -22px;
  padding: 16px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  color: var(--darkcolor);
}

.content-restaurant-container .mix-photo-container  .arrow:hover {
  color: var(--specificthingscolor);
}

.content-restaurant-container .mix-photo-container  #prev-arrow {
  left: 1px;
}

.content-restaurant-container .mix-photo-container  #next-arrow {
  right: 1px;
}

.content-restaurant-container .mix-photo-container .dot-container {
  margin-top: 30px;
}

.content-restaurant-container .mix-photo-container .dot-container .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--middlecolor);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.content-restaurant-container .mix-photo-container .dot-container .dot:hover,
.content-restaurant-container .mix-photo-container .dot-container .dot.dot-active {
  background-color: var(--specificthingscolor);
}

.content-restaurant-container .choice-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  position: relative;
}

.content-restaurant-container .choice-button-container .choice-button-row {
  width: 40%;
}

.content-restaurant-container .choice-button-container .choice-button-row .takeaway-button,
.content-restaurant-container .choice-button-container .choice-button-row .delivery-button {
  position: relative;
  padding: 20px;
}

.content-restaurant-container .choice-button-container .choice-button-row .takeaway-button {
  margin-left: 50px;
}

.content-restaurant-container .choice-button-container .choice-button-row .delivery-button {
  margin-right: 50px;
}

.content-restaurant-container .choice-button-container .paper-container{
  display: none;
  position: relative;
  height: 400px;
  width: 50%;
}

.content-restaurant-container .choice-button-container .paper-container.display-container{
  display: block;
}

.content-restaurant-container .choice-button-container .paper-container .close-paper-button {
  background-color: var(--middlecolor);
  border: 0px;
  font-size: 20px;
  color: var(--darkcolor);
  font-weight: 900;
  position: absolute;
  right: 100px;
  top: 30px;
}

.content-restaurant-container .choice-button-container .paper-container .close-paper-button:hover {
  font-size: 25px;
  color: var(--specificthingscolor);
}

.content-restaurant-container .choice-button-container .paper-container #paper-button {
  height: 100%;
  width: 100%;
}

.content-restaurant-container .choice-button-container .paper-container .text-paper-container-delivery.noshow-delivery {
  display: none;
}

.content-restaurant-container .choice-button-container .paper-container .text-paper-container-takeaway.noshow-takeaway {
  display: none;
}

.content-restaurant-container .choice-button-container .paper-container .text-paper-container-delivery,
.content-restaurant-container .choice-button-container .paper-container .text-paper-container-takeaway {
  position: absolute;
  top: 60px;
  left:120px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.content-restaurant-container .choice-button-container .paper-container .text-paper-container-takeaway .takeaway-checkmenu-container a {
  text-decoration: none;
}

.content-restaurant-container .choice-button-container .paper-container .text-paper-container-takeaway .takeaway-checkmenu-container button {
  padding: 10px;
  background-color: var(--darkcolor);
  font-weight: 700;
  border: 2px solid var(--darkcolor);
  border-radius: 5px;
  color: var(--lightcolor);
}

.content-restaurant-container .choice-button-container .paper-container .text-paper-container-takeaway .takeaway-checkmenu-container button:hover {
  background-color: var(--lightcolor);
  border: 2px solid var(--darkcolor);
  color: var(--specificthingscolor);
}

.content-restaurant-container .choice-button-container .paper-container .text-paper-container-delivery span,
.content-restaurant-container .choice-button-container .paper-container .text-paper-container-takeaway span{
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 30px;
}

.content-restaurant-container .choice-button-container .paper-container .text-paper-container-delivery #del-app,
.content-restaurant-container .choice-button-container .paper-right-container .text-paper-container-takeaway #checkmenu {
  margin-top: 20px;
}

.content-restaurant-container .choice-button-container .paper-container .text-paper-container-delivery .delivery-application-container {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.content-restaurant-container .choice-button-container .paper-container .text-paper-container-delivery .delivery-application-container img {
  height: 50px;
  width: 50px;
}

.content-restaurant-container .choice-button-container .choice-button-row .delivery-button .delivery,
.content-restaurant-container .choice-button-container .choice-button-row .takeaway-button .takeaway {
  border: 2px solid var(--darkcolor);
  padding: 30px;
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: var(--lightcolor);
  font-weight: 700;
  position: relative;
  z-index: 999;
  border-radius: 5px;
  transition: transform 1000s ease-in;
}

.delivery-transitioned {
  transform: translate(-20px, -100px);
}

.takeaway-transitioned {
  transform: translate(-340px, 100px);
}

.takeaway-disappearence {
  transform: translate(-340px, 100px);
}

.delivery-disappearence {
  transform: translate(-20px, -100px);
}

.content-restaurant-container .choice-button-container .choice-button-row .delivery-button .delivery:hover,
.content-restaurant-container .choice-button-container .choice-button-row .takeaway-button .takeaway:hover {
  background-color: var(--darkcolor);
  color: var(--middlecolor);
  font-size: 18px;
}

.content-restaurant-container .choice-button-container .choice-button-row .square-button {
  position: absolute;
  top: 3px;
  right:10px;
  width:200px;
  height: 80px;
  border: 2px solid var(--specificthingscolor);
  background-color: var(--middlecolor);
  z-index: 10;
  border-radius: 5px;
  transition: transform 0.5s ease-in-out;
}

.content-restaurant-container .choice-button-container .choice-button-row .square-button:hover,
.content-restaurant-container .choice-button-container .choice-button-row .square-opposite-button:hover{
  background-color: #B31312;
}

.content-restaurant-container .choice-button-container .choice-button-row .square-opposite-button {
  bottom: 3px;
  left:10px;
  position: absolute;
  width:200px;
  height: 80px;
  border: 2px solid var(--specificthingscolor);
  background-color: var(--middlecolor);
  z-index: 10;
  border-radius: 5px;
}
@media (min-width: 140px) {
  .body-container .content-restaurant-container .modal .modal-dialog .modal-button .close-modal {
    right: 90px;
  }
}
@media (min-width: 780px) and (max-width: 1375px) {
  .content-restaurant-container .mix-photo-container #next-arrow {
    right: 10px;
  }
  .content-restaurant-container .mix-photo-container #prev-arrow {
    left: 10px
  }
  .content-restaurant-container .mix-photo-container #prev-arrow,
  .content-restaurant-container .mix-photo-container #next-arrow {
    top:200px;
  }
  .content-restaurant-container .menu-index-container .image-menu-container {
    margin: 20px 40px;
    height: 400px;
    width: 60%;
  }
  .content-restaurant-container .menu-index-container .intro-menu-container {
    width: 80%;
  }
}
@media (min-width: 931px) and (max-width: 1179px) {
  .content-restaurant-container .mix-photo-container .mix-photo {
    width: 70%;
    height: 400px;
  }
}
@media (min-width: 931px) and (max-width: 1370px) {
  .content-restaurant-container .choice-button-container .choice-button-row {
    width: 70%;
  }
}

@media (max-width: 1250px) {
  .body-container .content-restaurant-container .navbar #logoPastas {
    height: 80px;
    width: 80px;
  }
  .body-container .content-restaurant-container .navbar .navbar-collapse {
    font-size: 18px;
  }
  .body-container .content-restaurant-container .navbar .navbar-collapse .reservation-button {
    border-width: 15px;
  }
}

@media (min-width: 790px) and (max-width: 930px) {

  .content-restaurant-container .mix-photo-container #prev-arrow,
  .content-restaurant-container .mix-photo-container #next-arrow {
    top:160px;
  }

  .content-restaurant-container .identity-container .slogan-container .item-slogan p {
    font-size: 25px;
    font-weight: 600;
  }
  .content-restaurant-container .identity-container .slogan-container .dot-slogan-container .dot-slogan {
    top:12px;
  }
}

@media (min-width: 600px) and (max-width: 930px) {
  .content-restaurant-container .choice-button-container .choice-button-row {
    width: 90%;
  }
  .content-restaurant-container .choice-button-container .choice-button-row .delivery-button {
    margin-right: 10px;
  }
  .content-restaurant-container .choice-button-container .choice-button-row .takeaway-button {
    margin-left: 10px;
  }
  .content-restaurant-container .mix-photo-container .mix-photo {
    width: 60%;
    height: 300px;
  }
}

@media (min-width: 530px) and (max-width: 779px) {
  .content-restaurant-container .mix-photo-container #next-arrow {
    right: 60px;
  }
  .content-restaurant-container .mix-photo-container #prev-arrow {
    left: 60px
  }
  .content-restaurant-container .mix-photo-container #prev-arrow,
  .content-restaurant-container .mix-photo-container #next-arrow {
    top:100px;
  }
  .content-restaurant-container .identity-container .slogan-container .item-slogan {
    margin:2px;
  }
  .content-restaurant-container .identity-container .slogan-container .item-slogan p {
    font-size: 20px;
    font-weight:400;
  }
  .content-restaurant-container .identity-container .slogan-container .dot-slogan-container {
    width: 50%;
    height: 50%;
  }
  .content-restaurant-container .identity-container .slogan-container .dot-slogan-container .dot-slogan {
    top:12px;
  }
  .content-restaurant-container .menu-index-container .image-menu-container {
    margin: 20px 40px;
    height: 400px;
    width: 80%;
  }
  .content-restaurant-container .menu-index-container .intro-menu-container {
    width: 100%;
    padding: 20px;
    border-width: 30px;
  }
}

@media (max-width: 600px) {
  .content-restaurant-container .mix-photo-container .dot-container .dot {
    height: 10px;
    width: 10px;
  }
}

@media (min-width: 400px) and (max-width: 599px) {

  .content-restaurant-container .mix-photo-container #prev-arrow,
  .content-restaurant-container .mix-photo-container #next-arrow {
    top:100px;
  }
  .content-restaurant-container .choice-button-container .choice-button-row .delivery-button {
    margin-right: 0px;
  }
  .content-restaurant-container .choice-button-container .choice-button-row .takeaway-button {
    margin-left: 0px;
  }
  .content-restaurant-container .mix-photo-container .mix-photo {
    width: 60%;
    height: 250px;
  }
}

@media (max-width: 500px) {
  .content-restaurant-container .choice-button-container .choice-button-row .square-button,
  .content-restaurant-container .choice-button-container .choice-button-row .square-opposite-button {
    width: 100px;
  }
  .content-restaurant-container .identity-container {
    padding: 0px;
  }
  .content-restaurant-container .menu-index-container {
    margin:50px 0px;
  }
  .content-restaurant-container .mix-photo-container {
    margin: 50px 0px;
  }
  .content-restaurant-container .menu-index-container .intro-menu-container .intro-title {
    font-size: 22px;
  }
  .content-restaurant-container .menu-index-container .intro-menu-container .intro-part {
    font-size:13px;
  }
  .content-restaurant-container .menu-index-container .intro-menu-container .intro-button-container .intro-button {
    padding: 5px;
    font-size:13px;
  }
  .content-restaurant-container .choice-button-container .choice-button-row .delivery-button .delivery,
  .content-restaurant-container .choice-button-container .choice-button-row .takeaway-button .takeaway {
    padding:20px;
    font-size:13px;
  }
}


@media (min-width: 400px) and (max-width: 529px) {
  .content-restaurant-container .mix-photo-container #next-arrow {
    right: 45px;
  }
  .content-restaurant-container .mix-photo-container #prev-arrow {
    left: 45px;
  }
  .content-restaurant-container .identity-container .slogan-container .item-slogan p {
    font-size: 15px;
    font-weight:400;
  }
  .content-restaurant-container .identity-container .slogan-container .item-slogan {
    margin:0px;
  }
  .content-restaurant-container .identity-container .slogan-container .dot-slogan-container {
    max-width: 20%;
    height: 20%;
  }
  .content-restaurant-container .identity-container .slogan-container .dot-slogan-container .dot-slogan {
    top:8px;
    height: 6px;
    width: 6px;
  }
  .content-restaurant-container .menu-index-container .image-menu-container {
    margin: 40px 40px;
    height: 400px;
    width: 80%;
  }

  .content-restaurant-container .menu-index-container .intro-menu-container {
    width: 100%;
    padding: 10px;
    border-width: 15px;
  }

  .content-restaurant-container .menu-index-container {
    padding: 0px 20px;
  }
}

@media (min-width: 400px) and (max-width: 440px) {
  .content-restaurant-container .identity-container .slogan-container .item-slogan p {
    font-size: 13px;
  }
}

@media (max-width: 399px) {
  .content-restaurant-container .mix-photo-container #next-arrow {
    right: 45px;
  }
  .content-restaurant-container .mix-photo-container #prev-arrow {
    left: 45px
  }
  .content-restaurant-container .mix-photo-container #prev-arrow,
  .content-restaurant-container .mix-photo-container #next-arrow {
    top:70px;
  }
  .content-restaurant-container .identity-container .slogan-container .item-slogan p {
    font-size: 10px;
    font-weight:600;
  }
  .content-restaurant-container .identity-container .slogan-container .item-slogan {
    margin:3px;
  }
  .content-restaurant-container .identity-container .slogan-container .dot-slogan-container {
    display: none;
  }
  .logo-identity {
    max-height: 60%;
    max-width: 60%;
  }
  .logo-identity img {
    max-height: 100%;
    max-width: 100%;
  }
  .content-restaurant-container .menu-index-container .image-menu-container {
    margin: 30px 30px;
    height: 300px;
    width: 80%;
  }
  .content-restaurant-container .menu-index-container .intro-menu-container {
    width: 100%;
    padding: 50px;
    border-width: 10px;
  }
  .content-restaurant-container .menu-index-container {
    padding: 0px 10px;
  }
  .content-restaurant-container .choice-button-container .choice-button-row .delivery-button {
    margin-right: 0px;
  }
  .content-restaurant-container .choice-button-container .choice-button-row .takeaway-button {
    margin-left: 0px;
  }
  .content-restaurant-container .mix-photo-container .mix-photo {
    width: 40%;
    height: 200px;
  }
  
}

/* FOOTER */

.content-restaurant-container .footer-container {
  border-top: 4px solid var(--darkcolor);
  padding: 50px 0px;
  width: 100%;
}

.content-restaurant-container .footer-container #footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0px;
}

.content-restaurant-container .footer-container .container .footer-row-container {
  width: 70%;
  display: flex;
}

.content-restaurant-container .footer-container #footer .footer-row-container .follow-container {
  display: flex;
  flex-direction: column;
  align-items: center;
} 

.content-restaurant-container .footer-container #footer .footer-row-container .contact-container {
  display: flex;
  flex-direction: column;
}

.content-restaurant-container .footer-container #footer .footer-row-container h5 {
  font-weight: 600;
  margin-bottom: 30px;
  color: var(--darkcolor);
} 

.content-restaurant-container .footer-container #footer .follow-container svg {
  width: 50px;
  height: 50px;
  color: var(--middlecolor);
} 

.content-restaurant-container .footer-container #footer .follow-container svg:hover,
.content-restaurant-container .footer-container #footer .contact-container svg:hover {
  color: var(--specificthingscolor);
} 

.content-restaurant-container .footer-container #footer .follow-container .facebook-container {
  margin-bottom: 30px;
} 

.content-restaurant-container .footer-container #footer .contact-container svg {
  width: 25px;
  height: 25px;
  color: var(--middlecolor);
} 

.content-restaurant-container .footer-container #footer .contact-container .body-contact-container {
  min-width: 80%;
}

.content-restaurant-container .footer-container #footer .contact-container .phone-container, 
.content-restaurant-container .footer-container #footer .contact-container .email-container,
.content-restaurant-container .footer-container #footer .contact-container .address-container {
  margin-bottom: 20px;
} 

.content-restaurant-container .footer-container #footer .contact-container .phone-container .phone-icone-container, 
.content-restaurant-container .footer-container #footer .contact-container .email-container .email-icone-container,
.content-restaurant-container .footer-container #footer .contact-container .address-container .address-icone-container {
  max-width: 10%;
} 

.content-restaurant-container .footer-container #footer .contact-container .phone-container .phone-number, 
.content-restaurant-container .footer-container #footer .contact-container .email-container .email-complete,
.content-restaurant-container .footer-container #footer .contact-container .address-container .address-location {
  max-width: 90%;
  padding-left: 30px;
  font-size: 20px;
  color: var(--darkcolor);
} 

.content-restaurant-container .footer-container #footer .contact-container .email-container .email-complete a,
.content-restaurant-container .footer-container #footer .contact-container .address-container .address-location a {
  text-decoration: none;
  color: var(--darkcolor);
} 

.content-restaurant-container .footer-container #footer .contact-container .email-container .email-complete a:hover,
.content-restaurant-container .footer-container #footer .contact-container .address-container .address-location a:hover {
  text-decoration:underline;
  color: var(--middlecolor);
} 

@media (max-width: 770px) {
  .content-restaurant-container .footer-container #footer {
    padding: 0px;
    margin: 0px;
  }
  .content-restaurant-container .footer-container {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 566px) and (max-width: 770px) {
  .content-restaurant-container .footer-container .container .footer-row-container {
    width: 80%;
  }
  .content-restaurant-container .footer-container #footer .footer-row-container h5 {
    font-size: 15px;
  }
  .content-restaurant-container .footer-container #footer .follow-container svg,
  .content-restaurant-container .footer-container #footer .contact-container svg {
    height: 30px;
    width: 30px;
  }
  .content-restaurant-container .footer-container #footer .contact-container .phone-container .phone-number,
  .content-restaurant-container .footer-container #footer .contact-container .email-container .email-complete,
  .content-restaurant-container .footer-container #footer .contact-container .address-container .address-location {
    font-size: 15px;
  }
}

@media (min-width: 377px) and (max-width: 565px) {
  .content-restaurant-container .footer-container .container .footer-row-container {
    width: 90%;
  }
  .content-restaurant-container .footer-container #footer .footer-row-container h5 {
    font-size: 12px;
  }
  .content-restaurant-container .footer-container #footer .follow-container svg,
  .content-restaurant-container .footer-container #footer .contact-container svg {
    height: 20px;
    width: 20px;
  }
  .content-restaurant-container .footer-container #footer .contact-container .phone-container .phone-number,
  .content-restaurant-container .footer-container #footer .contact-container .email-container .email-complete,
  .content-restaurant-container .footer-container #footer .contact-container .address-container .address-location {
    font-size: 12px;
  }
  .content-restaurant-container .footer-container #footer .footer-row-container .follow-container,
  .content-restaurant-container .footer-container #footer .footer-row-container .contact-container {
    padding: 0px;
  }
}

@media (max-width: 376px) {
  .content-restaurant-container .footer-container .container .footer-row-container {
    width: 80%;
  }
  .content-restaurant-container .footer-container #footer .footer-row-container h5 {
    font-size: 12px;
  }
  .content-restaurant-container .footer-container #footer .follow-container svg,
  .content-restaurant-container .footer-container #footer .contact-container svg {
    height: 10px;
    width: 10px;
  }
  
  .content-restaurant-container .footer-container #footer .contact-container .phone-container .phone-number,
  .content-restaurant-container .footer-container #footer .contact-container .email-container .email-complete,
  .content-restaurant-container .footer-container #footer .contact-container .address-container .address-location {
    font-size:8px;
  }
  .content-restaurant-container .footer-container #footer .footer-row-container .follow-container,
  .content-restaurant-container .footer-container #footer .footer-row-container .contact-container {
    padding: 0px;
  }
}

/* HOURS AND LOCATION PAGE */

.hourelocation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 160px 0px 40px 0px;
  width: 100%;
}

.hourelocation-container .title-hel-info-container{
  min-width: 100%;
  height: 520px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.hourelocation-container .title-hel-info-container::before{
  content: "";
  background-image: url(./images/restaurant&food/location.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: -10px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.55;
}

.hourelocation-container .title-hel-info-container h2 {
  font-weight: 900;
  font-size: 60px;
  position: relative;
  text-shadow: var(--middlecolor) 1px 0 10px;
}

.hourelocation-container .body-hel-info-container {
  margin: 50px 0px;   
}

.hourelocation-container .body-hel-info-container .body-hel-row .hel-info-open .info-opened {
  text-align: center;    
}

.hourelocation-container .body-hel-info-container .body-hel-row .hel-info-open .info-opened h6 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;     
}

.hourelocation-container .body-hel-info-container .body-hel-row .hel-info-open {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hourelocation-container .body-hel-info-container .body-hel-row .address-complete {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: center;

}
.hourelocation-container .body-hel-info-container .body-hel-row .hel-info-open .address-link {
  text-align: center;
}

.hourelocation-container .body-hel-info-container .body-hel-row .hel-info-open .address-link a {
  text-decoration: none;
  color: var(--darkcolor);
  font-weight: 700;
  font-size: 25px;
}

.hourelocation-container .body-hel-info-container .body-hel-row .hel-info-open .address-link a:hover {
  color: var(--middlecolor);
}

.hourelocation-container .body-hel-info-container .body-hel-row .hel-info-open .arrow-map-container{
  height: 50%;
  width: 50%;
}

.hourelocation-container .body-hel-info-container .body-hel-row .hel-info-open .arrow-map-container img{
  height: 100%;
  width: 100%;
}

.hourelocation-container .body-hel-info-container .body-hel-row .address-complete .address-maps {
  min-height: 90%;
  min-width: 90%;
}

@media (min-width: 650px) and (max-width: 991px) {
  .hourelocation-container .body-hel-info-container {
    margin: 0px;
  }
}

@media (max-width: 991px) {
  .hourelocation-container .body-hel-info-container .body-hel-row .address-complete {
    align-items: center;
  }
}

@media (min-width: 450px) and (max-width: 649px) {
  .hourelocation-container .body-hel-info-container .body-hel-row .hel-info-open .address-link a {
    font-size: 20px;
    font-weight: 600;
  }
  .hourelocation-container .body-hel-info-container .body-hel-row .hel-info-open .arrow-map-container {
    height: 30%;
    width: 30%;
  }
  .hourelocation-container .body-hel-info-container .body-hel-row .hel-info-open .info-opened h6 {
    font-size: 17px;
  }
  .hourelocation-container .title-hel-info-container h2 {
    font-size: 40px;
  }
  .hourelocation-container .title-hel-info-container {
    margin-bottom: 0px;
  }
  .hourelocation-container .body-hel-info-container {
    margin: 10px;
  }
}

@media (min-width: 350px) and (max-width: 449px) {
  .hourelocation-container .body-hel-info-container .body-hel-row .hel-info-open .address-link a {
    font-size: 15px;
    font-weight: 600;
  }
  .hourelocation-container .body-hel-info-container .body-hel-row .hel-info-open .arrow-map-container {
    height: 30%;
    width: 30%;
  }
  .hourelocation-container .body-hel-info-container .body-hel-row .hel-info-open .info-opened h6 {
    font-size: 15px;
  }
  .hourelocation-container .title-hel-info-container h2 {
    font-size: 30px;
  }
  .hourelocation-container .title-hel-info-container {
    margin-bottom: 0px;
  }
  .hourelocation-container .body-hel-info-container {
    margin: 10px;
  }
}

@media (max-width: 349px) {
  .hourelocation-container .body-hel-info-container .body-hel-row .hel-info-open .address-link a {
    font-size: 12px;
    font-weight: 500;
  }
  .hourelocation-container .body-hel-info-container .body-hel-row .hel-info-open .arrow-map-container {
    display: none;
  }
  .hourelocation-container .body-hel-info-container .body-hel-row .hel-info-open .info-opened h6 {
    font-size: 12px;
    font-weight: 300;
  }
  .hourelocation-container .title-hel-info-container h2 {
    font-size: 20px;
  }
  .hourelocation-container .title-hel-info-container {
    margin-bottom: 5px;
  }
  .hourelocation-container .body-hel-info-container {
    margin: 20px;
  }
}


/* MENU PAGE */

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 160px 0px 100px 0px;
  width: 100%;
}

.menu-container  .title-menu-container{
  min-width: 100%;
  height: 520px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-container  .title-menu-container::before{
  content: "";
  background-image: url(./images/restaurant&food/menu-title.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: -10px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.55;
}

.menu-container  .title-menu-container h2{
  font-weight: 900;
  font-size: 60px;
  position: relative;
  text-shadow: var(--middlecolor) 1px 0 10px;
}

.menu-container .body-menu-pasta-container .menu-choice-buttons-container,
.menu-container .body-menu-wine-container .menu-choice-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 25%;
}

.menu-container .body-menu-pasta-container .menu-choice-buttons-container button:hover,
.menu-container .body-menu-wine-container .menu-choice-buttons-container button:hover {
  background-color: var(--specificthingscolor);
  border: 2px solid var(--specificthingscolor);
  color: var(--lightcolor);
}

.active-menu-button {
  padding: 10px;
  background-color: var(--darkcolor);
  font-weight: 700;
  border: 2px solid var(--darkcolor);
  border-radius: 5px;
  color: var(--middlecolor);
} 

.inactive-menu-button {
  border: 2px solid var(--darkcolor);
  padding: 10px;
  background-color: var(--lightcolor);
  font-weight: 700;
  border-radius: 5px;
}

.menu-container .body-menu-pasta-container .menu-pastas-container,
.menu-container .body-menu-wine-container .menu-wine-container {
  margin-top:60px;
}

.display-menu {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.hidden-menu {
  display: none;
}

.menu-container .body-menu-pasta-container .menu-pastas-container .menu-pastas-title,
.menu-container .body-menu-wine-container .menu-wine-container .menu-wine-title {
  font-weight: 600;
  font-size: 30px;
  margin-left: 20px;
}

.menu-container .body-menu-pasta-container .menu-pastas-container .menu-typeofpasta-container,
.menu-container .body-menu-wine-container .menu-wine-container .menu-typeofwine-container {
  margin-top: 40px;
  padding-left: 30px;
}

.menu-container .body-menu-pasta-container .menu-pastas-container .menu-typeofpasta-container .typeofpasta-container,
.menu-container .body-menu-wine-container .menu-wine-container .menu-typeofwine-container .typeofwine-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.menu-container .body-menu-pasta-container .menu-pastas-container .menu-typeofpasta-container .typeofpasta-container .pasta-title-container,
.menu-container .body-menu-wine-container .menu-wine-container .menu-typeofwine-container .typeofwine-container .wine-title-container{
  font-size: 20px;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
}

.menu-container .body-menu-pasta-container .menu-pastas-container .menu-typeofpasta-container .typeofpasta-container .pasta-ingredients-container{
  font-size: 15px;
  font-style: italic;
}

.menu-container .body-menu-pasta-container .menu-pastas-container .menu-typeofpasta-container .typeofpasta-container .pasta-title-container .dot-slogan,
.menu-container .body-menu-wine-container .menu-wine-container .menu-typeofwine-container .typeofwine-container .wine-title-container .dot-slogan {
  width:5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--specificthingscolor);
  margin-right: 10px;
}

.menu-container .photo-menu-container{
  padding: 0px;
  width: 80%;
  margin-top: 100px;
}

.menu-container .photo-menu-container .photo-menu-row-container {
  display: flex;
  align-items: center;
  justify-content: center;
}


.menu-container .photo-menu-container .photo-menu-row-container .col-photo-container{
  display: flex;
  justify-content: center;
  padding: 0px;
}

.menu-container .photo-menu-container .photo-menu-row-container .col-photo-container.twophotocol {
  flex-direction: column;
  align-items: center;
}

.menu-container .photo-menu-container .photo-menu-row-container .col-photo-container .photo-row-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-container .photo-menu-container .photo-menu-row-container .col-photo-container .photo-doublerow-container {
  width: 100%;
  height: 150px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-container .photo-menu-container .photo-menu-row-container .col-photo-container .photo-doublerow-container .above-photo {
  margin-bottom: 20px;
}

.menu-container .photo-menu-container .photo-menu-row-container .col-photo-container .photo-row-container img{
  width: 80%;
  height: 100%;
  padding: 0px;
  object-fit: cover;
  transition: all 200ms ease-in-out;
}

.menu-container .photo-menu-container .photo-menu-row-container .col-photo-container .photo-row-container img:hover {
  transform:scale(1.5);
}

.menu-container .photo-menu-container .photo-menu-row-container .col-photo-container .photo-doublerow-container img{
  width: 50%;
  height: 70%;
  padding: 0px;
  transition: all 200ms ease-in-out;
}

.menu-container .photo-menu-container .photo-menu-row-container .col-photo-container .photo-doublerow-container img:hover{
  transform:scale(2);
}

@media (min-width: 900px) and (max-width: 1400px) {
  .menu-container .body-menu-pasta-container .menu-choice-buttons-container,
  .menu-container .body-menu-wine-container .menu-choice-buttons-container {
    width: 40%;
  }
}
@media (min-width: 500px) and (max-width: 1199px) {
  .menu-container .body-menu-pasta-container .menu-pastas-container .menu-pastas-title,
  .menu-container .body-menu-wine-container .menu-wine-container .menu-wine-title {
    font-size: 25px;
  }
  .menu-container .body-menu-pasta-container .menu-pastas-container .menu-typeofpasta-container .typeofpasta-container .pasta-title-container,
  .menu-container .body-menu-wine-container .menu-wine-container .menu-typeofwine-container .typeofwine-container .wine-title-container {
    font-size: 18px;
  }
  .menu-container .body-menu-pasta-container .menu-pastas-container .menu-typeofpasta-container .typeofpasta-container .pasta-ingredients-container {
    font-size: 13px;
  }
}
@media (min-width: 500px) and (max-width: 991px) {
  .menu-container .photo-menu-container .photo-menu-row-container .col-photo-container .photo-doublerow-container {
    height: 400px;
  }
}
@media (min-width: 650px) and (max-width: 899px) {
  .menu-container .body-menu-pasta-container .menu-choice-buttons-container,
  .menu-container .body-menu-wine-container .menu-choice-buttons-container {
    width: 50%;
  }
}
@media (max-width: 770px) {
  .menu-container .photo-menu-container {
    margin-top: 70px;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 500px) and (max-width: 770px) {
  .menu-container .photo-menu-container .photo-menu-row-container {
    width: 80%;
  }
  .menu-container .photo-menu-container .photo-menu-row-container .col-photo-container .photo-row-container img {
    height: 80%;
  }
  .menu-container .photo-menu-container .photo-menu-row-container .col-photo-container .photo-doublerow-container {
    height: 300px;
  }
}
@media (max-width: 649px) {
  .active-menu-button,
  .inactive-menu-button  {
    font-weight: 500;
    padding: 5px;
    font-size: 14px;
  }
}

@media (min-width: 450px) and (max-width: 649px) {
  .menu-container .body-menu-pasta-container .menu-choice-buttons-container,
  .menu-container .body-menu-wine-container .menu-choice-buttons-container {
    width: 60%;
  }
  .menu-container {
   margin-bottom: 60px; 
  }
}
@media (max-width: 499px) {
  .menu-container .photo-menu-container .photo-menu-row-container .col-photo-container .photo-doublerow-container {
    height: 300px;
  }
  .menu-container .body-menu-pasta-container .menu-pastas-container .menu-pastas-title,
  .menu-container .body-menu-wine-container .menu-wine-container .menu-wine-title {
    font-size: 20px;
  }
  .menu-container .body-menu-pasta-container .menu-pastas-container .menu-typeofpasta-container .typeofpasta-container,
  .menu-container .body-menu-wine-container .menu-wine-container .menu-typeofwine-container .typeofwine-container {
    margin-bottom: 20px;
  }
  .menu-container .body-menu-pasta-container .menu-pastas-container .menu-typeofpasta-container .typeofpasta-container .pasta-title-container,
  .menu-container .body-menu-wine-container .menu-wine-container .menu-typeofwine-container .typeofwine-container .wine-title-container {
    font-size: 15px;
  }
  .menu-container .body-menu-pasta-container .menu-pastas-container .menu-typeofpasta-container .typeofpasta-container .pasta-ingredients-container {
    font-size: 11px;
  }

  .menu-container .body-menu-pasta-container .menu-pastas-container .menu-typeofpasta-container,
  .menu-container .body-menu-wine-container .menu-wine-container .menu-typeofwine-container {
    margin-top: 25px;
  }
  .menu-container .photo-menu-container {
    margin-top: 0px;
  }
}
@media (min-width: 350px) and (max-width: 449px) {
  .menu-container .title-menu-container h2 {
    font-size: 30px;
  }
  .menu-container .body-menu-pasta-container .menu-choice-buttons-container,
  .menu-container .body-menu-wine-container .menu-choice-buttons-container {
    width: 80%;
  }
  .menu-container .photo-menu-container .photo-menu-row-container {
    width: 60%;
  }
  .menu-container .photo-menu-container .photo-menu-row-container .col-photo-container .photo-row-container img {
    height: 70%;
  }
  .menu-container .photo-menu-container .photo-menu-row-container .col-photo-container .photo-doublerow-container {
    height: 200px;
  }
  .menu-container {
    margin-bottom: 30px; 
   }
}
@media (max-width: 349px) {
  .menu-container .title-menu-container h2 {
    font-size: 20px;
  }
  .menu-container .body-menu-pasta-container .menu-choice-buttons-container,
  .menu-container .body-menu-wine-container .menu-choice-buttons-container {
    width: 90%;
  }
  .menu-container .body-menu-pasta-container .menu-choice-buttons-container,
  .menu-container .body-menu-wine-container .menu-choice-buttons-container {
    width: 80%;
  }
  .menu-container .photo-menu-container .photo-menu-row-container {
    width: 85%;
  }
  .menu-container .photo-menu-container .photo-menu-row-container .col-photo-container .photo-row-container img {
    height: 60%;
  }
  .menu-container .photo-menu-container .photo-menu-row-container .col-photo-container .photo-doublerow-container {
    height: 150px;
  }
  .menu-container {
    margin-bottom: 15px; 
   }
}

/* OUR STORY */

.ourstory-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ourstory-container  .title-ourstory-container{
  min-width: 100%;
  height: 520px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top:160px;
}

.ourstory-container  .title-ourstory-container::before{
  content: "";
  background-image: url(./images/restaurant&food/old-photo.webp);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: -10px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.55;
}

.ourstory-container  .title-ourstory-container h2{
  font-weight: 900;
  font-size: 60px;
  position: relative;
  text-shadow: var(--middlecolor) 1px 0 10px;
}

.ourstory-container .body-ourstory-info-container {
  margin: 200px 0px 100px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ourstory-container .body-ourstory-info-container .ourstory-info {
  max-width: 75%;
  font-size: 25px;
  margin: 40px 0px;
}

.ourstory-experience-container {
  margin-bottom: 60px;
  min-width: 100%;
  padding: 0px 50px;
}

.ourstory-experience-container .row {
  margin: 0px 15px;
  display: flex;
  justify-content: center;
}

.ourstory-experience-container .image-experience-container{
  background-image: url(./images/restaurant&food/cocktail.jpeg);
  background-size: cover;
  background-position: center;
  margin: 40px 0px;
}

.ourstory-experience-container .experience-container .experience-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}

.ourstory-experience-container .experience-container{
  padding: 40px 80px;
  border-width: 50px;
  border-style: solid;
  border-image: url(./images/element/45degreecorner.png) 190 stretch;
}

.ourstory-experience-container .experience-container .experience-part {
  margin-bottom: 20px;
}

.review-our-story-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;
}

.review-our-story-container h2{
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}

.review-our-story-container .review-container{
  background-color: #f5bba4;
  box-shadow: 10px 5px 5px var(--middlecolor);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0px;
  width: 70%;
  height: 300px;
}

.review-our-story-container .review-container .body-review-container{
  width: 70%;
  display: none;
}


.review-our-story-container .review-container .body-review-container.active-review {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.review-our-story-container .review-container .body-review-container .author-review{
  text-align: right;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 18px;
}

.review-our-story-container .review-container .body-review-container .content-review{
  font-size: 21px;
  font-style: italic;
}

.review-our-story-container .review-container .review-arrow {
  position: absolute;
  width: auto;
  transition: 0.6s ease;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  padding: 16px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  color: var(--darkcolor);
}

.review-our-story-container .review-container .review-arrow:hover {
  color: var(--specificthingscolor);
}

.review-our-story-container .review-container #prev-review-arrow{
  left:380px;
}

.review-our-story-container .review-container #next-review-arrow{
  right:380px;
}
@media (min-width: 1470px) and (max-width: 1670px) {
  .review-our-story-container .review-container #prev-review-arrow{
    left:280px;
  }
  
  .review-our-story-container .review-container #next-review-arrow{
    right:280px;
  }
}
@media (min-width: 1270px) and (max-width: 1469px) {
  .review-our-story-container .review-container #prev-review-arrow{
    left:180px;
  }
  
  .review-our-story-container .review-container #next-review-arrow{
    right:180px;
  }
}
@media (min-width: 780px) and (max-width: 1269px) {
  .review-our-story-container .review-container #prev-review-arrow{
    left:100px;
  }
  
  .review-our-story-container .review-container #next-review-arrow{
    right:100px;
  }
}
@media (min-width: 780px) and (max-width: 1370px) {
  .ourstory-experience-container .image-experience-container {
    margin: 20px 40px;
    height: 400px;
    width: 60%;
  }
  .ourstory-experience-container .experience-container {
    width: 80%;
  }
}
@media (min-width: 530px) and (max-width: 779px) {
  .ourstory-experience-container .image-experience-container {
    margin: 20px 40px;
    height: 400px;
    width: 80%;
  }
  .ourstory-experience-container .experience-container {
    width: 100%;
    padding: 20px;
    border-width: 30px;
  }
  .review-our-story-container .review-container #prev-review-arrow{
    left:60px;
  }
  .review-our-story-container .review-container #next-review-arrow{
    right:60px;
  }
  .review-our-story-container h2 {
    font-size: 30px;
  }
  .review-our-story-container .review-container .body-review-container .author-review {
    font-size: 15px;
  }
  .review-our-story-container .review-container .body-review-container .content-review {
    font-size: 17px;
  }
}
@media (min-width: 500px) and (max-width: 770px) {
  .ourstory-container .body-ourstory-info-container .ourstory-info {
    font-size: 20px;
  }
  .ourstory-container .body-ourstory-info-container {
    margin-bottom: 60px;
  }
}
@media (min-width: 400px) and (max-width: 529px) {
  .ourstory-experience-container .image-experience-container {
    margin: 40px 40px;
    height: 300px;
    width: 80%;
  }
  .ourstory-experience-container .experience-container {
    width: 100%;
    padding: 10px;
    border-width: 15px;
  }
  .ourstory-experience-container {
    padding: 0px 20px;
  }
  .review-our-story-container .review-container #prev-review-arrow{
    left:40px;
  }
  .review-our-story-container .review-container #next-review-arrow{
    right:40px;
  }
  .review-our-story-container h2 {
    font-size: 25px;
  }
  .review-our-story-container .review-container .body-review-container .author-review {
    font-size: 12px;
  }
  .review-our-story-container .review-container .body-review-container .content-review {
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  .ourstory-experience-container .experience-container .experience-title {
    font-size: 22px;
  }
  .ourstory-experience-container .experience-container .experience-part {
    font-size:13px;
  }
}
@media (min-width: 350px) and (max-width: 499px) {
  .ourstory-container .body-ourstory-info-container .ourstory-info {
    font-size: 15px;
    margin:10px 20px;
    max-width: 70%;
  }
  .ourstory-container .body-ourstory-info-container {
    margin-bottom: 30px;
  }
}
@media (min-width: 350px) and (max-width: 449px) {
  .ourstory-container .title-ourstory-container h2 {
    font-size: 30px;
  }
}
@media (max-width: 399px) {
  .ourstory-experience-container .image-experience-container {
    margin: 30px 30px;
    height: 200px;
    width: 80%;
  }
  .ourstory-experience-container .experience-container {
    width: 100%;
    padding: 30px;
    border-width: 10px;
  }
  .ourstory-experience-container {
    padding: 0px 10px;
  }
  .review-our-story-container .review-container #prev-review-arrow{
    left:20px;
  }
  .review-our-story-container .review-container #next-review-arrow{
    right:20px;
  }
  .review-our-story-container h2 {
    font-size: 25px;
  }
  .review-our-story-container .review-container .body-review-container .author-review {
    font-size: 11px;
  }
  .review-our-story-container .review-container .body-review-container .content-review {
    font-size: 12px;
  }
}
@media (max-width: 349px) {
  .ourstory-container .title-ourstory-container h2 {
    font-size: 20px;
  }
  .ourstory-container .body-ourstory-info-container .ourstory-info {
    font-size: 12px;
    margin:12px 40px;
    max-width: 60%;
  }
  .ourstory-container .body-ourstory-info-container {
    margin-bottom: 15px;
  }
}